<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Hot-Air AC Temperature Monitoring</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">

        <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
        <script type="text/javascript">
           google.charts.load('current', {'packages': ['corechart']});
           google.charts.setOnLoadCallback(drawChart);

           function drawChart() {
               var all_records = '{{ all_records }}';

               //var records_first_0 = iot_data_records[0];
               records_array = all_records.split(";")

               console.log( 'All Records ... ' + all_records );
               console.log( 'Record #1 ... ' + records_array[1] );

               //var data = google.visualization.arrayToDataTable([
               var data_table = new google.visualization.DataTable();
               
               data_table.addColumn('string', 'Time');
               data_table.addColumn('number', 'Temperature');

               for (var i = 0; i < records_array.length; i++) {
                   record_i = records_array[i];

                   if (!record_i) {
                       continue;
                   }

                   values = record_i.split(',');

                   data_table.addRow( [ values[1], Number(values[2]) ] );
               }

               var options = {
                   title: 'Hot-Air AC Temperature Variation',
                   curveType: 'function',
                   legend: {position: 'bottom'}
               };

               var chart = new google.visualization.LineChart(
                   document.getElementById('curve_chart')
               );

               chart.draw(data_table, options);
           } 
        </script>
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        
        <p>
            Number of Hot-Air AC Temperature Records Found: {{ num_iot_records }}
        </p>

        <div id="curve_chart" style="width: 900px; height: 500px"></div>

        <script src="" async defer></script>
    </body>
</html>