<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Hot-Air AC Temperature Monitoring</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">

        <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/sensors-charts.js') }}"></script>

        <script type="text/javascript">
           google.charts.load('current', {'packages': ['corechart']});
           google.charts.setOnLoadCallback(drawChart);

           function drawChart() {
               var all_records = '{{ all_records }}';

               //var records_first_0 = iot_data_records[0];
               records_array = all_records.split(";")
               
               //console.log( 'All Records ... ' + all_records );
               //console.log( 'Record #1 ... ' + records_array[1] );

               //var data = google.visualization.arrayToDataTable([
               var data_table_hot = new google.visualization.DataTable();
               
               //data_table.addColumn('string', 'Time');
               data_table_hot.addColumn('datetime', 'Time');
               //data_table.addColumn('number', 'Temperature');
               data_table_hot.addColumn('number', 'Hot-Air Temperature');

               for (var i = 0; i < records_array.length; i++) {
                   record_i = records_array[i];

                   if (!record_i) {
                       continue;
                   }

                   values = record_i.split(',');

                   full_datetime = values[1];
                   full_datetime = full_datetime.trim();

                   full_datetime_offset = full_datetime.concat("-0000");
                   
                   console.log("Full Datetime Offset is ... (" + (i+1) + ")" + full_datetime_offset + "/ " + Number( values[2] ));
                   console.log( ".... " + Date.parse(full_datetime.trim()) );

                   //my_datetime = full_datetime.split("T");

                   //my_date_str = my_datetime[0];
                   //my_time_str = my_datetime[1];

                   //my_date = my_date_str.split("-");
                   //my_time = my_time_str.split(":");

                   //var my_year = Number(my_date[0]);
                   //var my_month = Number(my_date[1]);
                   //var my_day = Number(my_date[2]);
                   
                   //var my_hours = Number(my_time[0]);
                   //var my_minutes = Number(my_time[1]);
                   //var my_seconds = Number(my_time[2]);
                   
                   //console.log( "Full Date Time is ..." + full_datetime);
                   //console.log( "Date String is ..." + my_date_str);
                   //console.log( "Year is ..." + my_year );
                   //console.log( "Month is ..." + my_month );
                   //console.log( "Day is ..." + my_day );

                   //console.log( "Time String is ..." + my_time_str);

                   //console.log( "Full Date Time: Year=" + my_year + ", Month=" + my_month + ", Day=" + my_day + 
                   //     ", Hours=" + my_hours + ", Minutes=" + my_minutes + ", Seconds=" + my_seconds);
    
                   //if (my_year < 2018) {
                   //    continue;
                   //}

                   data_table_hot.addRow( 
                       [new Date(full_datetime_offset), Number(values[2])] );
                       //[full_datetime, Number(values[2])] );
               }

               var options_hot = {
                   title: 'Hot-Air AC Temperature Variation',
                   //width: 900,
                   //height: 500,
                   hAxis: {
                       format: 'MM/dd/yy hh:mm:ss',
                       //direction: -1,
                       slantedText: true,
                       slantedTextAngle: 45
                   },
                   pointSize: 2,
                   //curveType: 'function',
                   legend: {position: 'bottom'},
                   explorer: {
                       actions: ['dragToZoom', 'rightClickToReset'],
                       axis: 'horizontal',
                       keepInBounds: true,
                       maxZoomIn: 4.0
                   }
               };

               var chart_hot = new google.visualization.LineChart(
                   document.getElementById('curve-chart-temperature')
               );

               chart_hot.draw(data_table_hot, options_hot);

               // ************************************************
               // ******* Second Graph: Power Consumption ********
               // ************************************************

               var more_records = '{{ more_records }}';

               //var records_first_0 = iot_data_records[0];
               others_array = more_records.split(";")

               var data_table = new google.visualization.DataTable();               
               data_table.addColumn('datetime', 'Time');
               data_table.addColumn('number', 'Power-Consumption');

               for (var i = 0; i < others_array.length; i++) {
                   record_i = others_array[i];

                   if (!record_i) {
                       continue;
                   }

                   values = record_i.split(',');

                   full_datetime = values[1];
                   
                   // Remove leading and trailing spaces !!!
                   full_datetime = full_datetime.trim();
                   
                   full_datetime_offset = full_datetime.concat("-0000");
                   
                   //my_datetime = full_datetime.split("T");

                   //my_date_str = my_datetime[0];
                   //my_time_str = my_datetime[1];

                   //my_date = my_date_str.split("-");
                   //my_time = my_time_str.split(":");

                   //var my_year = Number(my_date[0]);
                   //var my_month = Number(my_date[1]);
                   //var my_day = Number(my_date[2]);
                   
                   //var my_hours = Number(my_time[0]);
                   //var my_minutes = Number(my_time[1]);
                   //var my_seconds = Number(my_time[2]);
                   
                   //console.log( "Full Date Time is ..." + full_datetime);
                   //console.log( "Date String is ..." + my_date_str);
                   //console.log( "Year is ..." + my_year );
                   //console.log( "Month is ..." + my_month );
                   //console.log( "Day is ..." + my_day );

                   //console.log("Full Datetime Offset is ... (" + (i+1) + ")" + full_datetime_offset + "/ " + Number( values[2] ));
                   //console.log( ".... " + Date.parse(full_datetime.trim()) );

                   //console.log( "Full Date Time: Year=" + my_year + ", Month=" + my_month + ", Day=" + my_day + 
                    //    ", Hours=" + my_hours + ", Minutes=" + my_minutes + ", Seconds=" + my_seconds);
                       
                   //if (my_year < 2018) {
                   //    continue;
                   //}

                   data_table.addRow( 
                       //[ new Date(my_year, my_month, my_day, my_hours, my_minutes, my_seconds, 0.0), Number(values[2]) ] );
                       //[full_datetime, Number(values[2])] );
                       [new Date(full_datetime_offset), Number(values[2])] );
               }

                var options = {
                   title: 'AC Power Consumption',
                   //width: 900,
                   //height: 500,
                   hAxis: {
                       format: 'MM/dd/yy hh:mm:ss',
                       //direction: -1,
                       slantedText: true,
                       slantedTextAngle: 45
                   },
                   pointSize: 2,
                   //curveType: 'function',
                   legend: {position: 'bottom'},
                   explorer: {
                       actions: ['dragToZoom', 'rightClickToReset'],
                       axis: 'horizontal',
                       keepInBounds: true,
                       maxZoomIn: 4.0
                   }
               };

               var chart = new google.visualization.LineChart(
                   document.getElementById('curve-chart-power')
               );

               chart.draw(data_table, options);
           } 
        </script>
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        
        <p>
            Number of Hot Air AC Temperature Records Found: {{length_temperature}}
        </p>
        <div id="curve-chart-temperature" style="width: 900px; height: 500px"></div>
        
        <p>
            Number of AC Power Consumption Records Found: {{length_power}}
        </p>
        <div id="curve-chart-power" style="width: 900px; height: 500px"></div>

        <p style="margin-top: 50px;">
            <strong><u>Visual Indicators for Tasmota Sensors Status in VLAB3</u></strong> 
        </p>
        <div id="status-visual-indicators" style="width: 900px; height: 500px">
            <table style="width:100%; height:100%">
                <tr style="height: 20%">
                    <th>Sensor 1</th>
                    <th>Sensor 2</th>
                    <th>Sensor 3</th>
                </tr>
                <tr style="border: black; border-style: solid;">
                    <th style="padding-bottom: 200px;">
                        <div style="width: 160px; height: 160px;">
                            <button id="sensor-1-status" title="Right-Click to Toggle Status" 
                                    style="text-align: center; background-color: green; font-size: large; border-radius: 50%;
                                        color: wheat; margin-left: 80px; width: 140px; height: 140px; border-style: solid; border-color: wheat;">ON</button>
                        </div>
                    </th>
                    <th style="padding-bottom: 200px;">
                        <div style="width: 160px; height: 160px;">
                            <button id="sensor-2-status" title="Right-Click to Toggle Status"
                                    style="text-align: center; background-color: red; font-size: large; border-radius: 50%;
                                        color: wheat; margin-left: 80px; width: 140px; height: 140px; border-style: solid; border-color: wheat;">OFF</button>
                        </div>
                    </th>
                    <th style="padding-bottom: 200px;">
                        <div style="width: 160px; height: 160px;">
                            <button id="sensor-3-status" title="Right-Click to Toggle Status"
                                    style="text-align: center; background-color: purple; font-size: large; border-radius: 50%;
                                        color: wheat; margin-left: 80px; width: 140px; height: 140px; border-style: solid; border-color: wheat;">BAD</button>
                        </div>
                    </th>
                </tr>
            </table>
        </div>

        <p>
            <strong><u>Area Graphs for Line and UPS Power Contribution to Total</u></strong>
        </p>
        <div id="ups-line-power" style="width: 900px; height: 500px">
            <i>Please select Server for Power Distrubution UPS/ Line Area Chart:</i> 
            <select>
                <option value=1>Line 1</option>
                <option value=2>Line 2</option>
                <option value=3>Line 3</option>
                <option value=4>Line 4</option>
            </select>
        </div>

        <script src="" async defer></script>
    </body>
</html>