<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Hot-Air AC Temperature Monitoring</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">

        <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
        <script type="text/javascript">
           google.charts.load('current', {'packages': ['corechart']});
           google.charts.setOnLoadCallback(drawChart);

           function drawChart() {
               var all_records = '{{ all_records }}';

               //var records_first_0 = iot_data_records[0];
               records_array = all_records.split(";")

               console.log( 'All Records ... ' + all_records );
               console.log( 'Record #1 ... ' + records_array[1] );

               //var data = google.visualization.arrayToDataTable([
               var data_table = new google.visualization.DataTable();
               
               data_table.addColumn('datetime', 'Time');
               data_table.addColumn('number', 'Temperature');
               data_table.addColumn('number', 'Power-Consumption');

               for (var i = 0; i < records_array.length; i++) {
                   record_i = records_array[i];

                   if (!record_i) {
                       continue;
                   }

                   values = record_i.split(',');

                   full_datetime = values[1];
                   
                   my_datetime = full_datetime.split("T");

                   my_date_str = my_datetime[0];
                   my_time_str = my_datetime[1];

                   my_date = my_date_str.split("-");
                   my_time = my_time_str.split(":");

                   var my_year = Number(my_date[0]);
                   var my_month = Number(my_date[1]);
                   var my_day = Number(my_date[2]);
                   
                   var my_hours = Number(my_time[0]);
                   var my_minutes = Number(my_time[1]);
                   var my_seconds = Number(my_time[2]);
                   
                   console.log( "Full Date Time is ..." + full_datetime);
                   console.log( "Date String is ..." + my_date_str);
                   console.log( "Year is ..." + my_year );
                   console.log( "Month is ..." + my_month );
                   console.log( "Day is ..." + my_day );

                   console.log( "Time String is ..." + my_time_str);

                   console.log( "Full Date Time: Year=" + my_year + ", Month=" + my_month + ", Day=" + my_day + 
                        ", Hours=" + my_hours + ", Minutes=" + my_minutes + ", Seconds=" + my_seconds);
                       
                   if (my_year < 2018) {
                       continue;
                   }

                   data_table.addRow( 
                       [ new Date(my_year, my_month, my_day, my_hours, my_minutes, my_seconds, 0.0), Number(values[2]) ] );
               }

               var options = {
                   title: 'Hot-Air AC Temperature Variation',
                   curveType: 'function',
                   legend: {position: 'bottom'},
                   explorer: {
                       actions: ['dragToZoom', 'rightClickToReset'],
                       axis: 'horizontal',
                       keepInBounds: true,
                       maxZoomIn: 4.0
                   }
               };

               var chart = new google.visualization.LineChart(
                   document.getElementById('curve_chart')
               );

               chart.draw(data_table, options);
           } 
        </script>
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        
        <p>
            Number of Hot-Air AC Temperature Records Found: {{ all_records.length }}
        </p>

        <div id="curve_chart" style="width: 900px; height: 500px"></div>

        <script src="" async defer></script>
    </body>
</html>